$gameWidth:1024px;

li{
    list-style-type: none;
}
.pointer{
    cursor: pointer;
}
.centerAll{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.playerOne{
    background-color: orange;
}
.playerTwo{
    background-color: lightcoral;
}
.playerThree{
    background-color: lightgreen;
}
.playerFour{
    background-color: lightseagreen;
}
#pickPlayer{
   width: 100%;
   min-height: 10rem;
   max-width: 40rem;
   ul{
       margin: 0;
       padding: 0.5rem 0;
       display: grid;
       grid-gap: 0.1rem;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       li{
           height: 8rem;
           box-sizing: border-box;
           border: 1px solid black;
           border-radius: 1rem;
           img{
               height: 5rem;
           }
           &:hover{
               transform: scale(1.1);
               border: 2px solid black;
           }
       }
       .selected{
            transform: scale(1.1);
            border: 2px solid black;
       }
       .alreadySelected{
           transform: scale(0.9);
           background-color: grey !important;
       }
   } 
   button{
       display: block;
   }
}

#welcomeBanner{
    h1{
        text-align: center;
    }
}
main{
    max-width: 80rem;
    width: 90%;
    h3,h4{
        text-align: center;
    }
}

#gameUi{
    margin-top: 1rem;
    width: 100%;
    max-width: $gameWidth;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: orange;
    .hpBarWrapper{
        width: 70%;
        height: 100%;
        background-color: white;
        border: 0.1rem solid black;
        box-sizing: border-box;
        border-radius: 0.8rem;
        overflow: hidden;
        position: relative;
        .hpBar{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: red;
            
            height: 120%;
        }
    }


}
.inner{
    max-width: 80rem;
    width: 90%;
}
.marginAuto{
    margin: 0 auto;
}

#gamePrepare{
    /* background-color: blue; */

    .lobbyContainer{
        display: flex;
        justify-content: center;
        height: 10rem;
        width: 100%;
        .lobbyItem{
            height: 100%;
            min-width: 18rem;
            border-radius: 1rem;
            box-sizing: border-box;
            border: 2px solid grey;
            p{
                text-align: center;
                font-size: 1.8rem;
                margin: 0.6rem 0;
            }
            .joinLobby{
                font-weight: bold;
                font-size: 2.2rem;
            }
            &:hover{
                transition: 0.1s;
                transform: scale(1.1)
            }
        }
        .lobbyFull{
            background-color: lightgreen;
            transition: 0.1s;
            transform: scale(1.1)
        }
    }
    
}
button{
    height: 2rem;
    padding: 0.5rem;
    box-sizing: content-box;
    border-radius: 0.5rem;
    border: none;
}

#rendererDiv{
    margin: 0 auto;
    background-color: blue;
    min-height: 400px;
    width: $gameWidth;
    padding: 0;
}